.number{
    width: 80px;
    height: 50px;
    left: 20px;
    top: 30px;
    position: relative;
}


.operator{
    width: 80px;
    height: 50px;
    left: 20px;
    top: 30px;
    position: relative;
}

.function{
    width: 80px;
    height: 50px;
    left: 20px;
    top: 30px;
    position: relative;
}

.number:hover {
    background-color: #2dceff; /* 마우스 오버 시 배경색 변경 */
}